@import './vars';

#root {
  background-color: $midnight-blue;
}

.App {
  background-color: $midnight-blue;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  
  
  &.theme-light {
    background-color: $white;
  }
}

.Layout {
  background-color: $midnight-blue;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.theme-light .Layout {
  background-color: $white;
}

.Header,
.Main {
  max-width: $tablet;
  
  @media (min-width: $tablet) {
    margin: 0 auto;
  }
}