* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a {
  color: pink;
  text-decoration: none;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
