@import './vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, 'Roboto', sans-serif;
  font-size: 5vw;

  @media(min-width: $phablet) {
    font-size: 20.7px;
  }
}

a {
  color: $pink;
  text-decoration: none;
}

.App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  max-width: $tablet;
}
