@import './vars';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: $midnight-blue;
  font-family: -apple-system, 'Roboto', sans-serif;
  font-size: 5vw;

  @media(min-width: $phablet) {
    font-size: 20.7px;
  }
}

a {
  color: $aqua-blue;
  text-decoration: none;
}

.theme-light a {
  color: $deep-blue;
}
