// Colors
$black: #000;
$white: #fff;
$grey_fb: #fbfbfb;
$grey_dc: #dcdcdc;
$light_slate_grey: #a5a7b7;
$pink: #ffc6c0;

$midnight-blue: #15202a;
$dark-blue-grey: #253140;
$peachy-orange: #ff745c;
$super-light-slate-grey: #e3e5f7;

// Breakpoints
$phablet: 414px;
$tablet: 768px;
$desktop: 1200px;