@import '../../styles/vars';

@keyframes movingCranes {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(40deg);
  }
}

.Content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 0.75rem;
  text-align: center;
}

.UnderConstruction {
  background: linear-gradient(180deg, rgba(63, 0, 216, 0.51) -6%, rgba(0, 255, 184, 0.77) 39%, #ffe10559 96%);
  color: $white;
  font-size: 1.75rem;
  font-weight: bold;
  padding: 0.75rem;
  text-transform: uppercase;
}

.UnderConstructionTextWrapper {
  margin-bottom: 0.75rem;
}

.Crane {
  animation: movingCranes 0.8s linear alternate infinite;

  // &:last-child {
  //     animation-delay: 0.6s;
  // }
}
