@import '../../styles/vars.scss';

.root {
  border-radius: 50%;
  height: 3.375rem;
  overflow: hidden;
  width: 3.375rem;
}

.fullScreenContainer {
  align-items: center;
  background: $backdrop;
  display: flex;
  justify-content: center;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.img {
  height: auto;
  object-position: 0 -0.4rem;
  max-width: 100%;
}

.fullScreenContainer .img {
  object-position: unset;
  
  @media(min-width: $desktop) {
    height: 100%;
  }
}
