@import '../../styles/vars';

.Header {
  align-items: center;
  color: $light_slate_grey;
  display: flex;
  justify-content: space-between;
  padding: 0.75rem;
  width: 100%;
}

.theme-dark .Header {
  color: $white;
}

.HeaderMainText {
  color: $black;
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.theme-dark .HeaderMainText {
  color: $white;
}
