@import '../../styles/vars';

.Header {
  align-items: center;
  color: $white;
  display: flex;
  height: 4.5rem;
  justify-content: space-between;
  padding: 0.75rem;
  width: 100%;
}

.theme-light .Header {
  color: $light_slate_grey;
}

.HeaderMainText {
  color: $white;
  font-size: 1.125rem;
  letter-spacing: 0.1rem;
}

.theme-light .HeaderMainText {
  color: $black;
}
