@import '../../styles/vars.scss';

.LanguageSwitch {
  display: flex;
  font-size: 1.125rem;
}

.LanguageLink {
  cursor: pointer;
  
  &.active {
    color: $deep-blue;
    cursor: default;
  }
}

.theme-dark .LanguageLink.active {
  color: $aqua-blue;
}

.LanguageLinkDivider {
  margin: 0 0.25rem;
}
