@import '../../styles/vars.scss';

.LanguageSwitch {
  display: flex;
  font-size: 1.25rem;
}

.LanguageLink {
  cursor: pointer;
  
  &.active {
    color: $pink;
    cursor: default;
  }
}

.theme-dark .LanguageLink.active {
  color: $peachy-orange;
}

.LanguageLinkDivider {
  margin: 0 0.25rem;
}
