@import '../../styles/vars.scss';

.root {
  display: flex;
  font-size: 1.125rem;
}

.link {
  cursor: pointer;
  
  &.active {
    color: $aqua-blue;
    cursor: default;
  }
}

// .theme-light .link.active {
//   color: $deep-blue;
// }

.divider {
  margin: 0 0.25rem;
}
