@import '../../styles/vars.scss';

.LanguageSwitch {
  display: flex;
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: uppercase;
}

.LanguageLink {
  cursor: pointer;
  
  &.active {
    color: $pink;
    cursor: default;
  }
}

.Divider {
  margin: 0 0.125rem;
}
