@import '../../styles/vars';

.Footer {
  background-color: $grey_fb;
  // border-top: 1px solid $grey_dc;
  display: flex;
  flex-wrap: wrap;
  padding: 0.75rem;
}

.FooterSection {
  color: $light_slate_grey;
  display: flex;
  flex-basis: 100%;
  margin-bottom: 0.75rem;

  &:last-child {
    margin-bottom: 0;
  }

  @media(min-width: tablet) {
    flex-basis: 50%;
  }
}

.LinksLabel {
  margin-right: 0.625rem;
}

.Divider {
  padding: 0 6px;
}
